{% extends 'base.html.twig' %}

{% block title %}Bienvenue::Rafiki{% endblock %}

{% block javascripts %}

<script>

/*$(document).ready(function(){
  $("#exampleDataList").on("keyup", function() {
    //alert("hello world!");
    var value = $(this).val().toLowerCase();
    $(".col-lg-3").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});*/

$(document).ready(function(){
  $("#exampleDataList").on("keyup", function() {
    //alert("hello world!");
    var value = $(this).val().toLowerCase();
	search(value);
   
  });

  $('#clearSearch').click(function() {
	var vl = $("#exampleDataList").val('');
	search('');
  });
});
function search(value) {
		$.ajax({
	url: "{{ path('app_vote_process_search') }}",
    type: "POST",
	data: {
            'search': value
    },
    success: function(response) {
		console.log(response);
        //response = JSON.parse(response);
        $("div#myList").html(response.list);
		$("span#ttal").html(response.total);    
    }
});
}
 
</script>

{% endblock %}

{% block body %}
<style>
.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
.column{

}

</style>




<!-- sidebar + content -->
<section class="">
  <div class="container">
    <div class="row">
      <!-- sidebar -->
      <!-- sidebar -->
      <!-- content -->
      <div class="col-lg-12">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2"><span id="ttal">{{total}}</span></strong>
          <div class="ms-auto">
            
            <div class="input-group mb-3">
  				<div class="input-group-prepend">		
					<button type="button" class="btn btn-white border shadow-0" id="clearSearch">
              			<i class="fas fa-times"></i>
            		</button>
  				</div>
  				<input type="text" class="form-control" id="exampleDataList" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon1">
			</div>
          </div>
          </div>
        </header>
		<div id="myList">
			{% include 'vote_process/_list.html.twig' %}
		</div>
		


        <hr />

        <!-- Pagination -->
        
        <!-- Pagination -->
      </div>
    </div>
  </div>            
</section>
<!-- sidebar + content -->

<!-- Footer -->

<!-- Footer -->



{% endblock %}
